<header class="navbar navbar-fixed-top navbar-inverse">
	<div class="container">	
		<nav>
			<div class = "nav navbar-nav pull-left">
				<%= link_to 'Sample app', '#'%>
			</div>
			<div class = "nav navbar-nav pull-right">
				<%= link_to 'Home ','#'%> &nbsp&nbsp
				<%= link_to 'Help ', '#'%> &nbsp&nbsp
				<%= link_to 'About', '#'%> &nbsp&nbsp
				
			</div>
		</nav>
	</div> 
</header>
