<div class="footer-wrapper">
    <div class="footer">
        <div class = "nav navbar-nav pull-right">
                <%= link_to 'About ', '#'%> &nbsp&nbsp
                <%= link_to 'Contact','#'%> &nbsp&nbsp
                <%= link_to 'News', '#'%> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        </div>
    </div>
</div>